<%- include('partials/header.ejs') %>

<div class="dashed">
    <h1>Holiday app!</h1>
</div>
<div id="form-container">
    <form action="/submit" method="POST">
        <label for ="dest">Where are you going?:</label><br>
        <input type="text" id="dest" name="dest">
    </form>
</div>
<div id="weather-card" class="dashed">
    <div id="hflex">
        <div class="daily-forecast vflex">
            <div class="temp"></div>
            <div class="icon"></div>
        </div>
        <div class="daily-forecast vflex"></div>
        <div class="daily-forecast vflex"></div>
        <div class="daily-forecast vflex"></div>
        <div class="daily-forecast vflex"></div>
    </div>
</div>



<%- include('partials/footer.ejs') %>K